.store {
  margin-top: 40px;
  margin-bottom: 40px;
}
.store .store-content .store-left {
  flex-basis: 42%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store .store-content .store-left::after {
  content: "";
  width: 158px;
  height: 40px;
  filter: blur(1px);
  background: #977b4cb5;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  right: 45px;
  transform: translate(-50%, -50%) rotateX(35deg);
}
.store .store-content .store-left::before {
  content: "Nike";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 180px;
  color: var(--main-color);
  z-index: -1;
}
.store .store-content .store-right {
  flex-basis: 55%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}
.store .store-content .store-right h4 {
  font-size: 64px;
}
.store .store-content .store-right p {
  width: 75%;
  font-size: 26px;
  color: #777;
}
@media(max-width: 1020px) {
  .store .store-content .store-right h4 {
    font-size: 54px;
  }
}
@media(max-width: 868px) {
  .store .store-content {
    flex-direction: column;
    gap: 50px;
  }
}